.inline-block {
    display: inline-block;
    vertical-align: top;
}

    
div.logo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
    background-color: black;
    color:white;
     font-family: "Times New Roman", Times, serif;
}

ul {
   /* width: 50%;*/
    margin-left: auto;
}

.logo {
    text-align: center;
}

.fotoDiv{
    padding-left: 10px;

}

.heroimg {
    height: 600px;
    padding: 30px;
    background-color: #f5f679;
  }

.minhafoto { 
    /*border-style: groove;*/
      border: 1px solid;
      padding: 1px;
      box-shadow: 30px 20px;
      width:350;
      height:400;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.content {
    width: 500px;
    margin: 0 auto;
   /* border: 1px solid black;*/
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

footer {
    background-color:#373738;
    color:white;
} /*TODO: Use padding to center your <ul> and <li> elements.*/

footer > ul {
    display: inline-block;
    vertical-align:top;
  }

img{ 
    padding-right: 90%;
    padding-left:10%;
  }
