/* Navbar Styles */
.inline-block {
    display: inline-block;
    vertical-align:middle;
}

.logo {
    width: 22%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 65%;
    padding: 5%;
    font-family:Arial, Helvetica, sans-serif;
    text-align:right;
}

/* Align unordered list to the right */
ul {
    width: 50%;
    margin-left: auto;
}

/* Hero image styles */
.heroImg {
    height: 600px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Content styles */
.content {
    width: 500px;
    margin: 0 auto;
}

button{
    background-color:white;
    margin-bottom:3%;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
}


/* Footer styles */
footer {
    background-color: black;
    padding: 1%;
    color:white; 
    font-family:Arial, Helvetica, sans-serif;
    text-align:right;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}
